@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Tilt+Warp&display=swap");

/* #4ED476
#419DFF
#F68100 */

*,
html {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: rgb(24, 21, 21);
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
a {
  text-decoration: none;
  color: white;
}
p {
  text-align: center;
  padding: 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 5px;
}

button {
  outline: none;
  border: none;
}
.solid-button {
  background: #4ed476;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: solid 3px #4ed476;
  color: black;
  font-weight: 600;
  margin: 10px 10px;
}
.solid-outline {
  background: white;
  border: solid 3px #4ed476;
}

nav {
  position: fixed;
  top: 0;
  background: #000;
  width: 100vw;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  gap: 20px;
  padding: 10px 0px;
}
.nav-menu {
  gap: 20px;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.regs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-container {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.logox {
  height: 45px;
  width: 45px;
}
.Hero {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.648),
      rgba(0, 0, 0, 0.431),
      rgba(0, 0, 0, 0.644)
    ),
    url("images/hero\ bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  max-width: 80%;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}
.hero-container p {
  padding-bottom: 5%;
  text-align: center;
}

.about {
  height: 80vh;
  margin: 80px 0;
  background-color: #353538;
  width: screen;
  padding: 50px 0;
}

.about-container {
  display: flex;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  max-width: 800%;
  height: 90%;
  /* padding: 50px 0; */
}
.about-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutx {
  max-height: 400px;
  max-width: 400px;
  object-fit: cover;
  object-position: center;
  margin: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.head-about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgb(46, 249, 86);
  font-size: xx-large;
}

.content-container {
  flex: 1;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 200px 50px;
  font-size: 110%;
}

.services {
  height: 80vh;
  background-color: #353538;
  margin-bottom: 10vh;
}
.services-container {
  display: flex;
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-img {
  display: flex;
  align-items: center;
}
.servicesx {
  display: flex;
  /* max-height:900px;
    max-width:300px; */
  height: 300px;
  width: 300px;
}
.card-container {
  transition: 0.3s;
  align-items: center;
  display: flex;
  gap: 50px;
}
.services-card {
  color: aliceblue;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.shop {
  height: 80vh;
  background-color: #353538;
  margin-bottom: 10vh;
}
.shop-container {
  display: flex;
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card-container {
  transition: 0.3s;
  align-items: center;
  display: flex;
  gap: 50px;
}
.shop-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.shopx {
  display: flex;
  height: 300px;
  width: 100px;
}
.blog {
  height: 80vh;
  background-color: #353538;
  margin-bottom: 10vh;
}
.blog-container {
  display: flex;
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogcard-container {
  transition: 0.3s;
  align-items: center;
  display: flex;
  gap: 50px;
}
.blog-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.blogx {
  display: flex;
  height: 300px;
  width: 100px;
}
.footer {
  color: aliceblue;

  background-color: #353538;
  padding: 10vh 0;
}
.footer-container {
  max-width: 80%;
  margin: 0 auto;
}
.container-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-card {
  max-width: 400px;
  padding: 12px 15px;
}

.footer-card > P {
  width: 80%;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
}

.footer-card > h1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 3px;
  width: max-content;
}

.footer-card > h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #99ed54;
  width: 100%;
  height: 1.5px;
}
.social-images {
  display: flex;

  size: 10px;

  gap: 23px;
}
.socialx {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */

  border-radius: 5%;
}

.form_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 5px 15px;
  background: white;
  margin-bottom: 10px;
}

.form_input > input {
  background: transparent;
  outline: none;
  border: none;
}
.shop-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 5px 5px;
}
