@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Tilt+Warp&display=swap");

/* #4ED476
#419DFF
#F68100 */

*,
html {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: rgb(24, 21, 21);
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
p {
  text-align: center;
}
button {
  outline: none;
  border: none;
}
.solid-button {
  background: #4ed476;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: solid 3px #4ed476;
  color: black;
  font-weight: 600;
}
.solid-outline {
  background: white;
  border: solid 3px #4ed476;
}

nav {
  position: fixed;
  top: 0;
  background: #000;
  width: 100vw;
  padding: 10px 20px;
  margin: 10px;
}

.nav-container {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  max-width: 80%;
  margin: 0 auto;
  gap: 20px;
  padding: 10px 0px;
}

.form_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  padding: 5px 15px;
  background: white;
  margin-bottom: 10px;
}

.form_input > input {
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.serach.x {
  height: 25px;
  width: 25px;
}

.shop-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;  */
}
.hero-section {
  height: 90vh;
  background-image: url("whatttt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.webname {
  display: flex;
  color: #000;
  justify-content: center;
}
.form-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  padding: 5px 15px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.form-input > input {
  background: transparent;
  outline: none;
  border: none;
}
.cart {
  color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 80px;
}
.cartimg {
  display: flex;
  gap: 1000px;
  justify-content: space-around;
}
.hero-content {
  display: flex;
  align-items: center;
  margin: 100px;
  justify-content: center;
  color: #000;
}

.shop {
  height: 80vh;
  background-color: #353538;
  margin-bottom: 10vh;
  margin: 100px;
}
.shop-container {
  display: flex;
  margin: 0 auto;
}
.Card-container {
  box-shadow: 0 4px 8px 0 rgba(90, 84, 84, 0.2);
  transition: 0.3s;
  align-items: center;
  display: flex;
  padding: 0 200px;
  background-color: #353538;
  gap: 50px;
}
.shop-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 50px 0px;
}
.shopx {
  display: flex;
  height: 300px;
  width: 100px;
}
.shop-but {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 15px;
}
